.button {
    -fx-padding: 5px 12px;
    -fx-display: block;
    -fx-color: #9fa8b0;
    -fx-border: 1px solid #1c252b;
    -fx-border-radius: 3px;
    -fx-font-family: gamecuben;
}

.button:hover {
    -fx-color: #fff;
}

#barracks{
	-fx-font-family: Arial;
}